.product-item {
  width: 100%;

  height: 400px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Ensures spacing is uniform */
}

.product-item-img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* Ensures a square container */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Optional: Add a background color */
}

.product-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the entire image is visible */
  border-radius: 15px 15px 0px 0px;
}

.product-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.product-item-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 5px #00000020;
}

.product-item-counter p{
    margin-bottom: 0;

}

.product-item-counter img {
  width: 25px;
  cursor: pointer;
}

.product-item-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.product-item-name-rating p {
  font-size: 16px;
  font-weight: 600;
}

.product-item-name-rating img {
  width: 60px;
}

.product-item-desc {
  color: #676767;
  font-size: 12px;
  margin-bottom: 5px;
}

.product-item-price {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-item-quantity,
.product-item-expiry {
  color: #676767;
  font-size: 12px;
  margin-bottom: 3px;
}
