@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #325662;
  --dark: #1f1f1f;
  --gray: #666666;
  --orange: #ffc107;
  --light-gray: #f8f9fa;
  --text-muted: #6c757d;
  --hover-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


body, .container, .row {
  overflow-x: hidden;
}

.container, .row, .col {
  max-width: 100%;
}
